  <nav class= "blue darken-2"> 
    <div class="nav-wrapper">
    <% link_to "rails Bank", accounts_path, class: "brand-logo"%>
      <a href="#" class="brand-logo"> Rails Bank</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user%>
        <li>
          <%= link_to "Accounts", accounts_path %>
        </li>
         <li> 
           <%= link_to "log out", destroy_user_session_path	, method: :delete %>
        </li>
      <% else %>
        <li> 
          <%= link_to "Login", new_user_session_path %>
        </li>
         <li> 
            <%= link_to "Register", new_user_registration_path %>
        </li>
      <% end %>
      </ul>
   </div>
</nav>